.App {
    font-family: sans-serif;
    text-align: center;
  }
    
  .excalidraw-wrapper {
    height: 100%;
    margin: 0px;
    background-color: white;
  }
  
  .context-menu-option__shortcut {
      background-color: transparent !important;
  }

.block-language-excalidraw {
  text-align:center;
}

.excalidraw .github-corner {
  display: none;
}

img.excalidraw-svg-right-wrap {
  float: right;
  margin: 0px 0px 20px 20px;
}

img.excalidraw-svg-left-wrap {
  float: left;
  margin: 0px 35px 20px 0px;
}

img.excalidraw-svg-right {
  float: right;
}

img.excalidraw-svg-left {
  float: left;
}

div.excalidraw-svg-right,
div.excalidraw-svg-left {
  display: table;
  width: 100%;
}

button.ToolIcon_type_button[title="Export"] {
  display:none;
}

.excalidraw-prompt-div {
  display: flex;
  max-width: 600px;
}

.excalidraw-prompt-form {
  display: flex;
  flex-grow: 1;
}

.excalidraw-prompt-input {
  flex-grow: 1;
}

li[data-testid] {
  border: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  width: 100% !important;
}

.excalidraw .context-menu-option-separator {
  margin: 4px !important;
}

.excalidraw .popover {
  padding: 0 !important;
  border-color: transparent !important;
  border: 0 !important;
  box-shadow: 0 !important;
  background-color: transparent !important;
}
/*
@font-face {
  font-family: "Virgil";
  src: url("https://excalidraw.com/Virgil.woff2");
}
@font-face {
  font-family: "Cascadia";
  src: url("https://excalidraw.com/Cascadia.woff2");
}*/
