.App {
    font-family: sans-serif;
    text-align: center;
  }
    
  .excalidraw-wrapper {
    height: 100%;
    margin: 0px;
    background-color: white;
  }
  
  .context-menu-option__shortcut {
      background-color: transparent !important;
  }

.block-language-excalidraw {
  text-align:center;
}

.excalidraw .github-corner {
  display: none;
}

img.excalidraw-svg-right-wrap {
  float: right;
  margin: 0px 0px 20px 20px;
}

img.excalidraw-svg-left-wrap {
  float: left;
  margin: 0px 35px 20px 0px;
}

img.excalidraw-svg-right {
  float: right;
}

img.excalidraw-svg-left {
  float: left;
}

div.excalidraw-svg-right,
div.excalidraw-svg-left {
  display: table;
  width: 100%;
}

button.ToolIcon_type_button[title="Export"] {
  display:none;
}

.excalidraw-prompt-div {
  display: flex;
  max-width: 600px;
}

.excalidraw-prompt-form {
  display: flex;
  flex-grow: 1;
}

.excalidraw-prompt-input {
  flex-grow: 1;
}